<div class="container">
	<div class="row col-10 pb-2 mb-2 mt-2 border-bottom font-weight-bold" style="font-size:40px;">
		Predictions for {{type}}
	</div>
	<div class="card-deck">
		{{#comments}}
		  <div class="card border-info" >
		    <div class="card-body text-info ">
		      <h5 class="card-title font-weight-normal">{{name}}</h5>
		      <p class="card-text font-weight-bold">{{text}}.{{time}}</p>
		      <p class="card-text"><small class="text-muted">{{prediction}}</small></p>
		    </div>
		  </div>
		{{/comments}}
	</div>
</div>
